<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/layout.css">
    <title>Document</title>
    <!--customCSS-->
    {% block customCSS %}
    {% endblock %}
    <!--JS. Alerta-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header >
        <nav> 
            <ul class="content-ul-li-a">
                <li><a class="content-link" href="/">Home</a></li>
                <li><a class="content-link" href="/Estudiantes">Estudiantes</a></li>
                <li><a class="content-link" href="/Profesores">Profesores</a></li>
                <li><a class="content-link" href="/Bonos">Bonos</a></li>
                <li><a class="content-link" href="/Contabilidad">Contabilidad</a></li>
            </ul>
        </nav> 
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    
</body>
</html>